<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="../assets/css/login.css" rel="stylesheet">
<body>
    <div class="container" id="container">
       <div class="flex">
        <div class="form-container sign-in-container">
            <form action="#">   
                <h1>Kirish</h1>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Parol" />
                <a href="#">Parolni Unutdingizmi ?</a>
                <button>Kirish</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Salom, Bro!</h1>
                    <p>Profilingiz Yo'qmi?</p>
                    <button class="ghost" id="signUp" style="cursor: pointer;">
                        <a href="sign.html" style="color: white;">Sign Up</a>
                    </button>
                   <a href="../index.html" id="signUp" style="cursor: pointer; position: absolute; bottom: 20px; right: 20px; color: white;">
                        <h1 style="color: white;"><i class="bi bi-arrow-left"></i>Bosh Saxifa</h1href=>
                   </a>
                </div>
            </div>
        </div>
       </div>
    </div>
</body>
</html>