{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="/static/portfolio/css/login.css" rel="stylesheet">

<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container" id="signUp">
            <form action="{% url 'portfolio:register' %}", method="post">
                {% csrf_token %}
                <h1>Profile Yaratish</h1>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div>
                        <label>To'liq ism</label>
                        <input type="text" name="full_name" placeholder="Ism" />
                    </div>
                    <div>
                        <label for="">Username</label>
                        <input type="text" name="username" placeholder="Email" />
                    </div>
                </div>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div>
                        <label for="">Parol</label>
                        <input type="password" name="password" placeholder="Parol" />
                    </div>
                    <div>
                        <label for="">Kasbi</label>
                        <input type="text" name="position" placeholder="Frontend, Backend" />
                    </div>
                </div>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div>
                        <label for="">O'quv Markaz</label>
                        <input type="text" name="edu" placeholder="Itpark, Najot Ta'lim" />
                    </div>
                    <div>
                        <label for="">Telefon Raqam</label>
                        <input type="text" name="contact" placeholder="+998 99 999 99 99" />
                    </div>
                </div>
                <div style="width: 100%;">
                    <label for="">Ko'nikmalar</label>
                    <input type="text" name="skills" placeholder="Html, Css, Javascript, React js, Material ui" />
                </div>
                <div style="width: 100%;">
                    <label for="">Yashash joyi</label>
                    <input type="text" name="address" placeholder="Fergana, Quva Istiqlol ko'chasi, 28-uy" />
                </div>
                <button type="submit">Ro'yhatdan O'tish</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Salom, Bro!</h1>
                    <p>Profilingiz Bormi?</p>
                    <button class="ghost" id="signUp" style="cursor: pointer;">
                        <a href="/login/" style="color: white;">Kirish</a>
                    </button>
                    <a href="/" id="signUp"
                        style="cursor: pointer; position: absolute; bottom: 20px; right: 20px; color: white;">
                        <h1 style="color: white;"><i class="bi bi-arrow-left"></i>Bosh Sahifa</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>